canvas{
    border: 1px solid black;
}
*{
    padding: 0;
    margin: 0;
}
pallete{
    position: absolute;
    z-index: 10000;
    width: 300px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.253) 0px 0px 30px 0px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.123);
    right: 50px;
    top: 10px;
}
.pallete-head{
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
    position: relative;
    text-align: center;
    height: 5%;
    line-height: 150%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}
.pallete-head:hover{
    cursor: move;
}
.option.div{
    width: fit-content;
    margin: 2px;
    border: 0.5px black solid;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s;
    overflow: hidden;
}
.option.div:hover{
    background-color: rgba(0, 0, 0, 0.068);
}
.default-div{
    background-color: transparent;
    border: 1px solid black;
    position: fixed;
    z-index: 3;
    width: 100px;
    height: 30px;
    left: 10vw;
    top:10vw;
}
.draggable{
    cursor: move;
}